.Container{
    height: 83vh;
    /* background: rgb(32, 32, 32); */

    display: grid;
    grid-template-columns: repeat(29, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.sideMenu{
    height: 88.9vh;
    position: relative;
    bottom: 5em;/* 
    -webkit-box-shadow: 5px 4px 8px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 4px 8px -1px rgba(0,0,0,0.2);
    box-shadow: 5px 4px 8px -1px rgba(0,0,0,0.2); */

    grid-column: 1/4;
    grid-row: 1/7;
}

.topRow{
    grid-column: 8/23;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.topRow img{
    grid-column: 4/5;
    grid-row: 1/2;

    position: relative;
    left: 2em;
}

.topRow h2{
    grid-column: 5/6;
    grid-row: 1/2;

    display: flex;
    align-self: center;
    position: relative;
    left: .5em;
    top: .5em;
}

hr {
    grid-column: 1/-1;
    grid-row: 2/2;
    height: .5em;
    border: none;

    position: relative;
    top: 3em;

    background-image: url("./images/pattern.png");
    background-repeat: repeat-x;
}


.topRow p{
    grid-column: 1/4;
    grid-row: 3/3;

    display: flex;
    align-self: flex-end;

    position: relative;
    bottom: 1em;
}

.leftInfo{
    /* background: orange; */
    text-align: justify;

    grid-column: 8/15;
    grid-row: 2/7;
}

.spaceBetween{
    grid-column: 15/16;
    grid-row: 2/7;
}

.rightInfo{
    /* background: pink; */
    text-align: justify;

    grid-column: 16/23;
    grid-row: 2/7;
}